* {
  padding: 0;
  margin: 0;
}
/* navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(78, 175, 224);
  padding: 60px;
  color: beige;
}
nav li {
  list-style: none;
  padding: 20px;
}
.nav-title {
  font-size: 50px;
  font-weight: 700;
}
.nav-items {
  font-size: 25px;
  display: flex;
}
.goal-color {
  color: red;
}

/* banner section styles */
.banner {
  background: url(../images/banner/banner.png);
  height: 70vh;
  text-align: right;
  padding-top: 150px;
  padding-right: 180px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-title {
  font-size: 50px;
  font-weight: 700;
}
.banner-text {
  font-size: 20px;
  margin-top: 25px;
}
.btn-primary {
  margin-top: 40px;
  background-color: orangered;
  color: white;
  padding: 20px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
/* failures section styles */
.failures {
  display: flex;
  align-items: center;
  gap: 80px;
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
}

.person {
  height: 450px;
  width: 380px;
}
.failures-title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}
.failures-text {
  font-size: 16px;
  padding-bottom: 10px;
}
.failures-list {
  font-size: 16px;
  padding-left: 20px;
}
/* plans section styles */
.plans {
  height: 100vh;
  width: 1200px;
  padding-bottom: 70px;
}
.plans-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 50px;
}
.plans-items {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 150px;
  padding-left: 100px;
}
.plans-items img {
  padding-bottom: 10px;
}
.plans-items h2 {
  font-size: 25px;
  font-weight: 700;
}
.plans-items p {
  font-size: 20px;
  color: rgba(37, 38, 38, 0.686);
  padding-top: 10px;
  margin-bottom: 120px;
}
/* advice and gradient style */

.advice {
  background: url(../images/watch.png),
    linear-gradient(80deg, #f6641af3 0%, rgba(118, 108, 104, 0) 100%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-left: 140px;
}

.advice h1 {
  font-size: 30px;
  font-size: 50px;
  color: aliceblue;
  padding: 20px;
}
.btn-secondary {
  background-color: rgb(240, 232, 229);
  padding: 18px 25px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(245, 84, 15);
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
}
/* footer styles */
.footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: aliceblue;
  padding: 100px;
}
.footer-title {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 15px;
}
.footer-text {
  font-size: 18px;
}
.email {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.phone {
  font-size: 18px;
  padding-bottom: 20px;
}
.footer-sub-title {
  font-size: 25px;
  margin: 20px 25px;
  margin-left: 13px;
}
input {
  font-size: 18px;
  background-color: black;
  color: aliceblue;
  border-color: aliceblue;
  padding: 15px 25px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 13px;
}
